* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}
:root {
  /* --borderGreen: 2px solid green;
  --borderPink: 2px solid pink;
  --borderRed: 2px solid red; */
}
#navMain {
  border: var(--borderRed);
  display: grid;
  grid-template-areas: "logo nav-right";
  width: 100vw;
  /* height: 20vh; */
  /* margin: 10px; */
  /* justify-items: center; */
}
#navMain #logo {
  cursor: pointer;
  border: var(--borderPink);
}
#navMain #logo img {
  width: 180px;
  margin: 25px 25px 25px 150px;
}

#navMain #navRight #ulMain li {
  list-style: none;
  text-decoration: none;
  /* border: 2px solid pink; */
  border: var(--borderGreen);
  /* justify-content: center; */
  /* width: 100px; */
  /* margin: auto; */
}
#navMain #navRight li a {
  text-decoration: none;
  /* margin-right: 20px; */
  color: black;
}
#navMain #navRight li:hover {
  text-decoration: none;
  /* margin-right: 20px; */
  background-color: rgb(231, 226, 226);
  color: rgb(110, 110, 110);
  border-radius: 5px;
}
#navMain #navRight #ulMain {
  display: grid;
  grid-template-areas: " Product Pricing Resources About Us Security and compliance";
  /* justify-content: start; */
  /* align-item2: center; */
  /* height: 2em;*/
  /* margin: auto  */
}
#navMain #navRight {
  display: grid;
  align-items: center;
  font-size: 14px;
  /* margin-left: 100px; */
}
#navMain #navRight .listItem:nth-child(6) a img {
  /* border: 3px solid red; */
  padding: 2px;
}
#navMain #navRight .listItem:nth-child(6) a img:hover {
  padding: 2px;
  border: 0.5px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  /* transition: 100ms; */
}
#navRight .listItem {
  cursor: pointer;
  display: grid;
  grid-template-areas: "content icon";
  align-items: center;
}
.listItem img {
  margin-left: -25px;
  position: relative;
  top: 3px;
  /* font-size: 2px; */
  height: 30px;
  padding: 5px;
  /* padding: 5px; */
}

/* css for main */

#container-1 {
  padding: 50px;
  /* background-color: green; */
  text-align: center;
  height: 50vh;
  width: 100%;
  /* border: 2px solid red; */
}
#ultraEdit,
.downPara {
  display: inline-block;
}
.downPara {
  /* background-color: red; */
  /* width: 30px; */
  margin: 0px 10px;
  font-size: 50px;
}
#ultraEdit {
  font: 500;
  font-size: 50px;
}
#container-1 img {
  cursor: pointer;
  /* background-color: purple; */
  position: relative;
  top: 2px;
  left: 6px;
}
#container-1 #conPara {
  /* background-color: red; */
  /* align-items: center; */
  margin: 40px;
  padding: 10px;
  /* width:700px; */
  font-size: 25px;
}
#container-1 #btn {
  color: #ffffff;
  background-color: #00b6d1;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-bottom: 30px; */
}
#container-1 #btn:hover {
  color: #ffffff;
  background-color: #00b6d1;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* transform: scale(1.1); */
  /* transition: 3ms; */
  /* transition: 90ms; */
}
main {
  /* align-items: center; */
}

#lang {
  /* border: 2px solid red; */
  /* text-align: center; */
/* border-radius: 3px; */
  width: 65vw;
}
#lang {
  /* background-color: green; */
  margin: 30px 280px;
}
#version img {
  width: 60px;
  display: inline-block;
}
#version #versionText {
  display: inline-block;
  /* background-color: pink; */
  font-size: 25px;
  position: relative;
  top: -25px;
  margin-left: 15px;
}
#version #versionNum {
  display: inline-block;
  /* background-color: yellow; */
  font-size: 15px;
  position: relative;
  top: -25px;
}
#lang #langGrid {
  text-align: center;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px 180px 180px 180px;
  grid-template-areas: "1 2 3";
  /* border-radius: 30px; */
}
.itemBox {
  background-color: rgb(250, 248, 248);
  /* border: 2px solid red; */
  margin: 15px;
  border-radius: 4px;
}
.boxh {
  font-size: 22px;
  font-weight: 700;
  padding: 15px 0px 8px 0px;
}
.boxP {
  font-size: 11px;
}
.boxBtn {
  /* margin-bottom: 10px; */
  margin: 30px 0px 100px 0px;
  padding: 9px;
  background-color: rgb(74, 174, 74);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
